:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-yellow: #F4D04E;
  --color-gray-light: #6B6B6B;
  --color-gray-dark: #111111;
  --color-white: #FFFFFF;
}

@font-face {
  font-family: 'Figtree'; 
  src: url('../assets/fonts/static/Figtree-SemiBold.ttf') format('truetype'); 
  font-weight: 600; 
}

@font-face {
  font-family: 'Figtree'; 
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype'); 
  font-weight: 700; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Figtree;
  font-weight: 500;
  background-color: var(--color-yellow);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 24px;
  cursor: pointer;
  box-shadow: 8px 8px 0  #000000;
  width: 384px;
  border: 1px solid var(--color-gray-dark);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 16px 16px 0  #000000;
}

.card:hover .title {
  color: var(--color-yellow)
}

.wrapper-image {
  height: 200px;
  width: 100%;
  margin-bottom: 24px;
}

.wrapper-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.badge {
  display: inline-block;
  color: var(--color-gray-dark);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--color-yellow);
  padding: 8px 12px;
  border-radius: 4px;
  width: 82px;
  text-align: center;
}

.date {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-gray-dark);
  margin-top: 12px;
}

.title {
  font-size: 24px;
  margin: 12px 0;
  font-weight: 700;
  color: var(--color-gray-dark);
  text-wrap: pretty;
  transition: all 0.3s;
}

.text {
  font-size: 16px;
  color: var(--color-gray-light);
  font-weight: 600;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.avatar h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-gray-dark);
}

@media (max-width: 600px) {
  .card {
    width: 326px;
  }

  .wrapper-image {
    height: auto;
    margin-bottom: 12px;
  }

  .badge { 
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 1.3;
  }
}